<ng-template #content let-modal>
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title">Confirm</p>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <h6>Are you sure to delete this?</h6>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()" (click)="delete()">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('close click')">No</button>
    </div>
  </ng-template>

  <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
