<!-- 
<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          type="text"
          class="form-control"
          name="firstname"
          [(ngModel)]="form.firstname"
          required
          minlength="3"
          maxlength="20"
          #firstname="ngModel"
        />
        <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
          <div *ngIf="firstname.errors['required']">First Name is required</div>
          <div *ngIf="firstname.errors['minlength']">
            First Name must be at least 3 characters
          </div>
          <div *ngIf="firstname.errors['maxlength']">
            First Name must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lastname"
          [(ngModel)]="form.lastname"
          required
          minlength="3"
          maxlength="20"
          #lastname="ngModel"
        />
        <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
          <div *ngIf="lastname.errors['required']">Last Name is required</div>
          <div *ngIf="lastname.errors['minlength']">
            Last Name must be at least 3 characters
          </div>
          <div *ngIf="lastname.errors['maxlength']">
            Last Name must be at most 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Register</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Registration failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>  -->


<!-- 
<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                <form
                    *ngIf="!isSuccessful"
                    name="form"
                    (ngSubmit)="f.form.valid && onSubmit()"
                    #f="ngForm"
                    novalidate
                >

                      <div class="form-outline mb-4">
                        <label class="form-label" for="username">First Name</label>
                        <input 
                            type="text" 
                            class="form-control form-control-lg"
                            name="username"
                            [(ngModel)]="form.username"
                            required
                            minlength="3"
                            maxlength="20"
                            #username="ngModel"
                        />
                      
                        <div class="alert-danger" *ngIf="username.errors && f.submitted">
                            <div *ngIf="username.errors['required']">Username is required</div>
                            <div *ngIf="username.errors['minlength']">
                                Username must be at least 3 characters
                            </div>
                            <div *ngIf="username.errors['maxlength']">
                                Username must be at most 20 characters
                            </div>
                          </div>
                       </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Your Email</label>
                        <input 
                            type="email" 
                            class="form-control form-control-lg"
                            name="email"
                            [(ngModel)]="form.email"
                            required
                            email
                            #email="ngModel"
                        />
                          <div class="alert-danger" *ngIf="email.errors && f.submitted">
                            <div *ngIf="email.errors['required']">Email is required</div>
                            <div *ngIf="email.errors['email']">
                                Email must be a valid email address
                            </div>
                          </div>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4cg">Password</label>
                          <input 
                              type="password"  
                              class="form-control form-control-lg" 
                              name="password"
                              [(ngModel)]="form.password"
                              required
                              minlength="6"
                              #password="ngModel"
                          />

                          <div class="alert-danger" *ngIf="password.errors && f.submitted">
                              <div *ngIf="password.errors['required']">Password is required</div>
                              <div *ngIf="password.errors['minlength']">
                                  Password must be at least 6 characters
                              </div>
                          </div>
                        </div>

                        <div class="d-flex justify-content-center">
                          <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                        </div>

                        <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login" routerLink="login" class="fw-bold text-body"><u>Login here</u></a></p>
                        
                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                            Registration failed!<br />{{ errorMessage }}
                        </div>
              </form>

              <div class="alert alert-success" *ngIf="isSuccessful">
                  Your registration is successful!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
 -->
