<main role="main">

    <div class="jumbotron">
        <div class="container">
            <!-- need to update the name -->
            <h1 class="display-3">Welcome <span>John</span>!</h1>
            <div class="mb-5">

                <p>Get a handle on your personal and partner's finances with Track2gether! Check out your overall financial status as below.</p>

            </div>


            <div class="input-group">
                <div class="dropdown mr-3">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Yearly
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <!-- ideally options should not be hardcoded, get from DB instead -->
                        <button class="dropdown-item" type="button">2021</button>
                        <button class="dropdown-item" type="button">2022</button>
                    </div>
                </div>


                <div class="dropdown mr-3">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Monthly
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" *ngFor="let month of months">{{month}}</button>

                    </div>
                </div>

                <div class="dropdown mr-3">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Weekly
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Previous Week</button>
                        <button class="dropdown-item" type="button">This Week</button>
                    </div>
                </div>

            </div>



        </div>
    </div>



    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>placeholder for chart</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>

            </div>
            <div class="col-md-4">
                <h2>placeholder for chart</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>

            </div>
            <div class="col-md-4">
                <h2>placeholder for chart</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>

            </div>
        </div>

        <hr>

    </div>

</main>