<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome <span>{{firstName}}</span>!</h1>
            <div class="mb-5">

                <p>Get a handle on your personal and partner's finances with Track2gether! Check out your
                    {{currentMonth}}'s
                    financial status as below.</p>

            </div>


            <div class="input-group">
                <div class="dropdown mr-3">
                    <a class="btn btn-info">
                        2022
                    </a>
                </div>

                <div class="dropdown mr-3">
                    <a class="btn btn-info">
                        {{currentMonth}}
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="container auto-width" style="width:50%">
        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <h4 class="mb-4">Income and Expenses Comparison </h4>
                <img [src]="this.url" alt="piechart">
            </div>
        </div>
        <hr>
    </div>
</main>