<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Track2gether</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  

        <ul *ngIf="isLoggedIn$ | async as isLoggedIn" class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" routerLink="/dashboard" routerLinkActive="active">My Dashboard</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" routerLink="/income" routerLinkActive="active">My Income</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" routerLink="/expenses" routerLinkActive="active">My Expenses</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" routerLink="/partner" routerLinkActive="active">My Partner</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" *ngIf="isLoggedIn" href="/" (onClick) = "onLogout()">Logout</a>
            </li>
        </ul>

        <div>
            <span class="navbar-text">
                <ul class="navbar-nav mr-auto">
    
                    <li class="nav-item" *ngIf="!(isLoggedIn$ | async) as isLoggedIn">
                        <a class="nav-link" *ngIf="isLoggedIn" routerLink="/login" routerLinkActive="active">Log in</a>
                    </li>
        
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="register" routerLinkActive="active">Sign up</a>
                    </li> -->
                </ul>
              </span>
        </div>


    </div>
</nav>