<ng-template #content let-modal>
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title">Confirm</p>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <h6>Are you sure you want to delete this record?</h6>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()" (click)="delete(transactionId)">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('close click')">No</button>
    </div>
  </ng-template>


  <fa-icon (click)="open(content)" [icon]="faTrashCan"></fa-icon>
